.autoparts {
  width: 100%;
  height: 100vh;

  &__title {
    position: relative;
    max-width: max-content;
  }

  &__count {
    position: absolute;
    font-size: var(--font-size-xl);
    color: var(--blue-color);
    top: -5px;
    right: -25px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 3.5rem;
  }

  &__content {
    margin-top: 3rem;
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .panel__sorting {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__empty {
    text-align: center;
    margin: 10rem 0;
  }

  &__pagination {
    margin-top: 1.5rem;
    align-self: center;
  }
}
