@import '../../../styles/mixins';

.filter {
  --border-color: var(--dark-contrast-700-color);
  --text-color: var(--dark-color);

  display: flex;
  flex-direction: column;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    width: fit-content;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    color: var(--text-color);
    border-top: var(--border-width-small) solid var(--border-color);
    border-right: var(--border-width-small) solid var(--border-color);
    border-left: var(--border-width-small) solid var(--border-color);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }

  &__selects {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border: var(--border-width-small) solid var(--border-color);
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) var(--border-radius-large);
  }

  &__actions {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    align-self: flex-end;
  }
}
