@import '../../../../../styles/mixins';

.navigation {
  --link-color: var(--dark-color);
  --link-hovered-color: orange;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;

  &__link {
    @include typography-subtitle-16;

    text-decoration: none;
    transition: var(--transition-duration-medium);
    color: var(--link-color);
    font-size: var(--font-size-s);

    &:hover {
      color: var(--link-hovered-color);
    }

    &.active {
      font-weight: var(--font-weight-bold);

      &:hover {
        color: var(--link-color);
      }
    }
  }
}
