.search_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  &__input {
    position: relative;
    flex: 1;

    .cross {
      all: unset;
      position: absolute;
      top: 11px;
      right: 40px;
      cursor: pointer;
    }
  }

  &__button {
  }
}
