:root {
  --shadow-focus-highlight: 0 0 1px 2px rgb(41 116 255 / 15%);
  --shadow-bottom-level: 0 0 4px rgb(0 0 0 / 20%);
  --shadow-top-level: 0 0 32px rgb(0 0 0 / 30%);
  --shadow-opened: 0 0 10px rgb(0 0 0 / 25%);
  --shadow-upper: 0px 0px 16px rgb(0 0 0 / 10%);
}
