:root {
  /*  Font sizes  */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;

  /*  Font weights  */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*  Line heights  */
  --line-height-xxs: 15px;
  --line-height-xs: 18px;
  --line-height-sm: 21px;
  --line-height-md: 24px;
  --line-height-lg: 30px;
  --line-height-xl: 36px;

  /*  Letter spacing  */
  --letter-spacing-xs: 0.3px;
  --letter-spacing-sm: 0.36px;
  --letter-spacing-md: 0.42px;
  --letter-spacing-lg: 0.48px;
}
