:root {
  --z-index-spinner: 10;
  --z-index-sidebar-switch: 20;
  --z-index-select: 980;
  --z-index-dropdown: 1000;
  --z-index-calendar: 1010;
  --z-index-modal: 1020;
  --z-index-popup: 1040;
  --z-index-tooltip: 1060;
}
