.header {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 3.5rem;
    gap: 3rem;
  }

  &__content {
    display: flex;
    gap: 2rem;
  }
}
