@import '../../../styles/mixins';

.counter {
  --counter-color: var(--dark-contrast-500-color);

  display: flex;
  align-items: center;
  border: 1px solid var(--counter-color);
  border-radius: 5px;

  & .button {
    @include button-reset;

    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: var(--font-size-xxl);
    transition: var(--transition-duration-medium);

    &:hover {
      color: var(--orange-color);
    }
  }

  & .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: var(--border-width-small) solid var(--counter-color);
    border-left: var(--border-width-small) solid var(--counter-color);
    width: 50px;
    height: 40px;
  }
}
