.cart {
  display: flex;
  width: 100%;
  flex: 1;

  &__container {
    display: flex;
    gap: 1rem;
    flex: 1;

    & .noContent {
      width: 100%;
      text-align: center;
      margin-top: 15rem;
    }
  }
}
